<p style="color: green"><%= notice %></p>

<%= render @pay_duration %>

<!--
<div>
  <%= link_to "Edit this pay period", edit_pay_duration_path(@pay_duration) %> |
  <%= link_to "Back to pay periods", pay_durations_path %>

  <%= button_to "Destroy this pay period", @pay_duration, method: :delete %>
</div>
  -->
